@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto-Bold.ttf') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.ttf') format('woff');
    font-weight: 400;
}
* {
    box-sizing: border-box;
    
}

body {
    background-color: hsl(235, 18%, 26%);
}

.whole-block {
    display: flex;
    width: 60%;
    background: white;
    border-radius: 30px;
    padding: 20px;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-side {
    font-family: 'Roboto-Regular';
    padding-left: 40px;
    padding-top: 30px;
    height: 593px;
}
.left-side h1 {
    font-family: 'Roboto-Bold';
    font-size: 50px;
}
.title-text p, .lists p {
    font-size: 16px;
}

.list {
    display: flex;
}

.list p {
    margin-left: 15px;
    margin-bottom: 13px;
}
.form p {
    font-size: 12px;
    font-family: 'Roboto-Bold';
    margin-bottom: 6px;
}
.email {
    font-size: 16px;
    font-family: 'Roboto-Regular';
    width: 400px;
    border-radius: 10px;
    padding: 15px 0 15px 20px;
    border: 1px solid grey;
}

.send {
    width: 400px;
    font-size: 16px;
    font-family: 'Roboto-Bold';
    border-radius: 10px;
    padding: 15px 0;
    background-color: hsl(234, 29%, 20%);
    color: white;
    margin-top: 25px;
    border: none;
}

.send:hover {
    width: 400px;
    font-size: 16px;
    font-family: 'Roboto-Bold';
    border-radius: 10px;
    padding: 15px 0;
    background-color: rgb(255, 97, 85);
    color: white;
    margin-top: 25px;
    border: none;
}
